
 body {
    width: 100%;
    background: #f7f7f7;
    font-family: 'Playfair Display'; 
    font-weight: lighter;
    font-size: 16px;
    max-width: 100%;
margin: 0px;
}

section, header {
    width: 90%;
    max-width: 800px;
    margin: auto;}

img {
    display: block;
    padding: 0;
    max-width: 100%;
}

.mainimg {
    margin : 4em auto ;
}
.kernloose {letter-spacing: 5px;}
.imgbtm {margin-bottom: 4rem;}

.topimg {
    margin-top: 0;
    margin-bottom: 4rem;
}

/*---- Styling typography ---*/
h1, h2, blockquote {
    color:  #DE5000; 
    font-family: 'Playfair Display';

}

p, blockquote {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
}

h1 {
    font-size: 64px;
    font-family: 'Playfair Display';
    color: #DE5000;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
    
    }

h2 {
    font-size: 35;
    margin: 3rem 0 2rem 0;
    font-family: Playfair Display;
}

blockquote {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    hanging-punctuation: first;
    text-indent: -0.75rem;
}
.img {
    display: block;
    padding: 0;
    max-width: 100%;

}


cite {
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    font-style: normal;
}

header h2 {
    font-size: 16px;
    font-style: italic;
    font-family: 'Playfair Display';
    margin-top: 0;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1.4rem;
    margin-bottom: 8rem;
}

.leader {
    text-transform: uppercase;
}

.dropcap {
    font-family: 'Playfair Display';
    float: left;
    line-height: 55%;
    width: .7em;
    font-size: 400%;
    color: #DE5000; 
}



/*-- Stying links ---*/
a {
    color: #DE5000;
   text-decoration: none;
   
}
a:hover {
    color: #E88715;
    border-bottom: 1px dotted;
}

/*--- SET UP A RSPONSIVE NAV --*/

nav{
    color:#f7f7f7
}

.responsivenav {
    background: #DE5000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    margin: 0 10px;
}
nav {
    top: o;
    left: o;
    margin: o;
    width: 100%;
    padding: 2rem 0;
    font-size: 0.8 rem;
    
}

nav ul { 
text-align: right;
text-transform: uppercase;
letter-spacing: 1px;
list-style-type: none;
padding-right: 64px;
}

nav ul li { 
    display: inline;
    margin: 10px 
}
    

#logo {     
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: 'Playfair Display';
    padding-left: 32px; }

nav {display: flex;
    padding: 2rem 0;
    font-size: 0.8rem;
background-color: #DE5000;
align-items:right ;
}

nav ul {
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style-type: none; 
        padding-right: 64px;
        }

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;}

nav a:hover {
    border-bottom: none;
    transition: all 0.3s ease-in-out;}

/*-- ALIGN IMAGES HORIZONTALLY --*/

.img {
    display: block;
    padding: 0;
    max-width: 100%;
}
  
.imgspace {
    margin: 3rem 0;

}

.imgspace2 {
    display: block;
    padding: 0;
    max-width: 100%;
    margin: 6rem 0;

}

.secondimg {

    display: block;
    padding: 0;
    max-width: 100%;

}

.img3 {
    margin: 6rem 0;
}

.imgsix {
    margin: 6rem 0;
}

.lastimg {
    margin: 6rem 0;
    max-width: 100%;
    
}

/*-- STYLING MARKET SQUARE SECTION --*/

.dark {
    background: #DE5000;
    color: #f7f7f7;
    margin: 6rem 0;
    padding: 6rem 0;
    
}

.dark h2, blockquote, cite {
    color: #f7f7f7;
}

.dark a {
    color: #f7f7f7;
    font-weight: normal;
    border-bottom: 1px dotted;
}



.list ul{
    line-height: 1.5;
    margin-left: 0;
}

.list li {
    margin-bottom: 1rem;
    list-style-type: none;
    margin-left: -2.5rem; 
}


footer {
    background: #DE5000;
    text-align: center;
    font-size: 0.8rem;
    color: #f7f7f7;
    padding: 4rem 0;
    margin: auto;
}

footer p {
    margin: 0 12rem;}

footer a {
    color: #f7f7f7;}

footer a:hover {
    color: #E88715;
    transition: all 0.3s ease-in-out;
}

.connections{
    position: relative;
    margin: 0 auto;}
    
.connections ul{
    margin: 0;
    padding: 0;}

.connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  }

.connections a:link{
        border-bottom: none;       }

.connections img, .connections svg{
    border: none;}

.connections a:hover img, .connections a:hover svg{
    border-bottom: none;}
      
 .connections svg {
    margin: 2rem auto;}
      
.connections a:hover svg path {
    fill: #333;
    transition: all 0.2s ease-in-out;}
      
footer .connections a:hover svg path {
    fill:  #c2c2c2;
    transition: all 0.2s ease-in-out;}
      

/*-- ADDING MEDIA QUERIES FOR DIFFERENT DEVICES --*/

@media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    #logo {
      order: 2;
      margin-bottom: 10px;
    }

    nav ul li {
       display: list-item;
        margin: 10px;
    }
  } 
  









 